
.img-lan {
    width: 70%;
    height: 70%;
}

.cur-non {
    cursor: context-menu;
}

.logo-tec {
    width: 7%;
    height: 7%;
    margin: 10px 0 10px -15px;
}

.img-bor {
    border-radius: 10px;
    margin: 20px 0 ;
}
